#nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 720px;
    border-top: 1px solid lightgray;
    background-color: white;
}

#nav #icon-wrapper {
    margin: 4% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav #icon-wrapper img {
    width: 6%;
}