#status-bar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    width: 100%;
    position: fixed;
    max-width: 720px;
    border-bottom: 1px solid lightgray;
}

#status-bar .status-bar-icon {
    margin: 3% 5%;
    width: 6%;
}

#status-bar #logo {
    width: 27%;
}