.insta-status-bar {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: white;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    box-sizing: border-box;
}

.insta-status-bar__img {
    width: 100%;
    margin-top : 1vh;
}

.insta-status-bar__img:nth-child(2) {
    display: flex;
    justify-content: center;
}

.insta-status-bar__img:last-child {
    display:flex;
    justify-content: flex-end;
}