@import 'status-bar.css';
@import 'index.css';
@import 'nav-bar.css';

* {
    font-family: 'Sunflower', sans-serif;
}

body {
    max-width: 720px;
    margin: 0 auto;
    height: auto;
    margin-bottom: 90px;
}