@import 'status-bar.css';
@import 'index.css';
@import 'nav-bar.css';

* {
    font-family: 'Sunflower', sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}